<section>
    <div class="container">
        <div class="col-12 news-title">
            <h1>Inspirations & Experiences</h1>
        </div>

        <div class="d-flex justify-content-center">
            <div class="col-8">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link">ALL</a></li>
                    <li class="nav-item"><a class="nav-link">INSPIRATIONS</a></li>
                    <li class="nav-item"><a class="nav-link">EXPERIENCES</a></li>
                    <li class="nav-item"><a class="nav-link">REVIEWS</a></li>
                    <li class="nav-item"><a class="nav-link">TIPS & TRICKS</a></li>
                    <li class="nav-item"><a class="nav-link">OTHERS</a></li>
                  </ul>
            </div>
        </div>
        
    </div>
</section>