<!-- HEADER NEWS -->
<app-news-header></app-news-header>

<section>
    <div class="container">
        <img src="../../../assets/media/news/news-post.png" alt="" class="img-fluid">
    </div>
</section>

<section>
    <div class="d-flex justify-content-center">
        <div class="col-8 col-md-6">
            <p>REVIEW / December 20, 2020</p>
            <h1>
                How to use solid color combine with simple furniture
            </h1> 

            <p>
                To mark the first UK show of artist Henri Barande, graphic designer Pavel Murren and German studio Schultz have created The Lodge Wooden.
            </p>

            <p>
                "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
            </p>

            <p>
                Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="d-flex justify-content-center">
        <div class="col-12 col-md-9">
            <div class="row">
                <div class="col-6">
                    <img src="../../../assets/media/news/news-posts-1.png" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                    <img src="../../../assets/media/news/news-posts-2.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="d-flex justify-content-center">
        <div class="col-8 col-md-6">
            <p>
                The short answer is yes. According to Kross, whe yoy think of yourself as another person, it allows you give yourself mor objetve, helpful feedback.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="d-flex justify-content-center">
        <div class="col-8 col-md-6">
            <h1>Defaulting to Mindfulness</h1>
            <p>
                But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?".
            </p>

            <ul>
                <li>To take a trivial example.</li>
                <li>Nor again is there anyone who loves or pursues or desires to obtain pain of itself</li>
                <li>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,</li>
            </ul>

            <p>
                On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.
            </p>

        </div>
    </div>
</section>

<!-- NEWS AUTHOR -->
<app-news-author></app-news-author>