@import "./fonts.scss";
@import "./colors.scss";

.orange-buttons{
    background-color: $orange;
    font: {
        size: 14px;
        color: $white;
        text-decoration: none;
    }
    border: solid 0px;
    border-radius: 5px;
    padding: 15px 25px;
    margin: 40px 0px;
    
    a {
      color: $white;
      text-decoration: none;  
      font-size: 14px;
      font-weight: bold;
      
    }

}

.orange-buttons:hover{
    background-color: $black;

}