<section>
    <div class="container">
        <div class="col-12">
            <h1>Challenge</h1>
            <p class="challenge-description">
                Create an unconventional yet user-friendly website - innovative, with a clean and simple design that communicates brand values and showcases multi-media content. Site that spreads the message: "Islamic stories your child will love"
            </p>

            <ul>
                <li>Develop easy-to-find and easy-to-navigate mobile friendly website.</li>
                <li>Showcase each type of content: interactive books, animated stories and picture books, audio sturies. Create an experience people want to share with others</li>
                <li>Persuade to download app and suscribe</li>
            </ul>

            <div class="text-center">
                <img src="assets/media/work-detail/tweet.png" alt="" class="img-fluid challenge-tweet">
            </div>
           
        </div>
    </div>
</section>