<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 text-center">
                <img class="img-fluid" src="../../assets/media/home/we-can-create-more-than-you-expect.png" alt="">
            </div>
            <div class="col-12 col-lg-5">
                <h1>
                    We can create more<br>
                    than you expect
                </h1>

                <p>
                    <i>
                        Over 25 years Liarch helping investors<br>
                        building their dream & business goals go to<br>
                        the perfection
                    </i>
                </p>

                <p>
                    Over the years, we have worked with Fortune<br>
                    500s and brand-new startups. We help ambitious<br>
                    businesses like yours generate more profits by<br>
                    building awareness, driving web traffic, connecting<br>
                    with customers, and growing overall sales.<br>
                    Give us a call.                    
                </p>
                
                <div class="row">
                    <div class="col-3">
                        <button>LEARN MORE</button>
                    </div   >
                    <div class="col-3">
                        <p>
                            VIEW OUR <br>
                            HISTORY
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>