@import '../../../styles.scss';

.intro {
    font-family: $title-font;
    color: $grey;
    padding: 20px 0px;
}

.orange-buttons{
    margin: 20px 0px 50px 0px;
}

.hurry{
    font: {
        family: $title-font;
        size: 14px;
        weight: 700;
        color: $black;
    }
}

.circle-phone{
    background-color: $grey-light;
    padding: 10px;
    border-radius: 50px;
    width: 50px;
    text-align: center;
    margin: 10px 0px;
}

.phone-icon{
    color: $orange;
}