@import "../../../styles.scss";

@media only screen and (max-width: 991px){
    .img-an-awards{
        display: none;
    }
}

.h1-home{
    font: {
        size: 40px;
        weight: lighter;
    }
    line-height: 55px;
}

.p-home{
    margin-top: 30px;   
    color: $grey;
}

hr{
    margin-bottom: 40px;
}

.small-texts {
    font: {
        size: 13px;
        weight: bold;
    }
}

.hotline{
    margin-top: 30px;

    .circle-phone{
        background-color: $orange-light;
        border-radius: 50px;
        padding: 8px 10px;
        color: $orange;
        text-align: center;
    }

    .hotline-title{
        font: {
            size: 10px;
            color: $grey-light;
            margin: 0px;
            padding: 0px;
    
        }
    }
    
    .hotline-phone{
        margin: 0px;
        padding: 0px;
        line-height: 20px;
        font-size: 16px;
    }
}
