@import "./assets/css/buttons.scss";
@import "./assets/css/fonts.scss";
@import "./assets/css/colors.scss";


/* GLOBAL STYLES */ 


body{
    border-top: solid 5px $orange;
    background-color: $white;


    font: {
        font-family: $body;
        color: $black;
        font-size: 16px;
       }

    .container{
        width: 75%;

        @media only screen and (max-width: 575px) {
            width: 90%;
        }
    }

    section{
        margin: 100px 0px;

        @media only screen and (max-width: 575px) {
            margin: 0px 30px;
        }
    }
}