<section>
    <div class="d-flex justify-content-center">
        <div class="col-8 col-md-6">
            <div class="row">
                <div class="col-2">
                    <img src="assets/media/news/author.png" alt="" class="img-fluid">
                </div>
                <div class="col-8">
                    <h3>Andy Robertson</h3>
                    <p>CONTENT EDITOR</p>
                    <p>
                        These cases are perfectly simple and easy to distinguish. In a free hour
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>