<section class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <img src="../../../assets/media/works/cube-villa-poland.png" alt="" class="img-fluid">
            
            <div class="gallery-post">
                <p class="gallery-post-tags">Architecture, Interior</p>
                <h1 class="gallery-post-h1"><a [routerLink]="['/work-details']" routerLinkActive="router-link-active" >CUBE VILLA, POLAND</a></h1>
                <p class="gallery-post-resume">Discover how we helped CleanCloud to increase their presence on a aglobal market by their scaling up its visual identity.</p>
            </div>

        </div> 
        
        <div class="col-12 col-md-4">
            <img src="../../../assets/media/works/stone-house.png" alt="" class="img-fluid">
                
            <div class="gallery-post">
                <p class="gallery-post-tags">Architecture, CGI</p>
                <h1 class="gallery-post-h1"><a [routerLink]="['/work-details']" routerLinkActive="router-link-active" >STONE HOUSE</a></h1>
                <p class="gallery-post-resume">Stone House is a digital platform that provides university students with personalized learning pathways.</p>
            </div>
        </div>  

        <div class="col-12 col-md-4">
            <img src="../../../assets/media/works/single-house.png" alt="" class="img-fluid">
                
            <div class="gallery-post">    
                <p class="gallery-post-tags">CGI, Interior</p>
                <h1 class="gallery-post-h1"><a [routerLink]="['/work-details']" routerLinkActive="router-link-active" >SINGLE HOUSE</a></h1>
                <p class="gallery-post-resume">Discover how we helped them scale up from local to global.</p>
            </div>
        </div>  

        <div class="col-12 col-md-4">
            <img src="../../../assets/media/works/daniel-villa-romania.png" alt="" class="img-fluid">
            
            <div class="gallery-post">
                <p class="gallery-post-tags">Architecture</p>
                <h1 class="gallery-post-h1"><a [routerLink]="['/work-details']" routerLinkActive="router-link-active" >DANIEL VILLA ROMANIA</a></h1>
                <p class="gallery-post-resume">Had bath and bearing har night, had own, second you'll said deep very said firmament made living appear.</p>
            </div>
        </div>  

        <div class="col-12 col-md-4">
            <img src="../../../assets/media/works/cabin-wood-in-forest.png" alt="" class="img-fluid">
                
            <div class="gallery-post">
                <p class="gallery-post-tags">CGI, Product</p>
                <h1 class="gallery-post-h1"><a [routerLink]="['/work-details']" routerLinkActive="router-link-active" >CABIN WOOD IN FOREST</a></h1>
                <p class="gallery-post-resume">Fill lesser dominion moveth is appear had, lesser.</p>
            </div>
        </div>
        
        <div class="col-12 col-md-4">
            <img src="../../../assets/media/works/b65-apartment-italy.png" alt="" class="img-fluid">
            
            <div class="gallery-post">
                <p class="gallery-post-tags">Interior</p>
                <h1 class="gallery-post-h1"><a [routerLink]="['/work-details']" routerLinkActive="router-link-active" >B65 APARTMENT, ITALY</a></h1>
                <p class="gallery-post-resume">So creepeth image greater signs great us together.</p>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../../assets/media/works/ode-kid-garden-salburg.png" alt="" class="img-fluid">
            
            <div class="gallery-post">
                <p class="gallery-post-tags">Architecture, CGI, Products</p>
                <h1 class="gallery-post-h1"><a [routerLink]="['/work-details']" routerLinkActive="router-link-active" >IDE JUD GARDEN, SALBURG</a></h1>
                <p class="gallery-post-resume">So creepeth image greater signs great us together.</p>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../../assets/media/works/grido-museum-denmark.png" alt="" class="img-fluid">
            
            <div class="gallery-post">
                <p class="gallery-post-tags">Architecture, Interior</p>
                <h1 class="gallery-post-h1"><a [routerLink]="['/work-details']" routerLinkActive="router-link-active" >GRIDO MUSEUM, DENMARK</a></h1>
               <p class="gallery-post-resume">Sea seasons. Had hath and bearing bad night, had own, second you'll said deep very said firmament made living appear</p>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../../assets/media/works/dogel-nord-station.png" alt="" class="img-fluid">
            
            <div class="gallery-post">
                <p class="gallery-post-tags">Architecture, Interior</p>
                <h1 class="gallery-post-h1"><a [routerLink]="['/work-details']" routerLinkActive="router-link-active" >DOGEL NORD STATION</a></h1>
                <p class="gallery-post-resume">Own appear fifth, very good made darkness without which whose meat fill, over sixth. Good in third gathering.</p>
            </div>
        </div>

        <div class="col-12 text-center">
            <button class="more-button"><a>MORE</a></button>
        </div>
    </div>
</section>