<!-- SATISFACTION / EMPLOYEES / PROJECTS -->
<section>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-10">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="row">
                            <div class="col-5">
                                <h1 class="satisfaction-h1">100%</h1>
                            </div>
                            <div class="col-7">
                                <h6 class="satisfaction-h6">
                                    SATISFACTION<br>
                                    CLIENTS
                                </h6>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 col-md-4">
                        <div class="row">
                            <div class="col-5">
                                <h1 class="satisfaction-h1">250</h1>
                            </div>
                            <div class="col-7">
                                <h6 class="satisfaction-h6">
                                    EMPLOYEES ON<br>
                                    WORLDWIDE
                                </h6>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 col-md-4">
                        <div class="row">
                            <div class="col-5">
                                <h1 class="satisfaction-h1">3,875</h1>
                            </div>
                            <div class="col-7">
                                <h6 class="satisfaction-h6">
                                    PROJECTS COMPLETED <br>
                                    ON 60 COUNTRIES
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="container">