@import '../../../styles.scss';

section{
    margin: 0px;
}

@media only screen and (min-width: 992px){
    .menu{
        margin-left: 100px;
    }
}

@media only screen and (max-width: 991px){
    .circle-menu{
        display: none;
    }
}

.navbar-light, .navbar-toggler {
    border: none;

  }

.navbar-light .navbar-toggler-icon {
    background-image: url("https://www.flaticon.com/svg/vstatic/svg/660/660376.svg?token=exp=1611197645~hmac=a6a899184644dafd434d4feac275d861");
    color: white;
    border-color: white;
  }

ul{
    li{
        a{
            font: {
            size: 13px;
            weight: 800;
            family: $title-font;
        }
        color: $black;
        }

        a:hover{
            color: $orange;
        }

        a:active{
            color: $orange;
        }

    }

    .home, .what-we-do, .works, .about, .news, .contact{
        font-weight: 800;
        color: $orange !important;
    }
}

.lets-chat{
    font-size: 12px;
    text-decoration: underline;
}

