<!-- NAVBAR -->

<div class="container">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="img-fluid" src="../../assets/media/navbar/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-menu-up" viewBox="0 0 16 16">
                    <path d="M7.646 15.854a.5.5 0 0 0 .708 0L10.207 14H14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h3.793l1.853 1.854zM1 9V6h14v3H1zm14 1v2a1 1 0 0 1-1 1h-3.793a1 1 0 0 0-.707.293l-1.5 1.5-1.5-1.5A1 1 0 0 0 5.793 13H2a1 1 0 0 1-1-1v-2h14zm0-5H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v2zM2 11.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 0-1h-8a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0-.5.5z"/>
                  </svg>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="menu navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="home" >HOME</a>
                    </li>
                    <li>
                        <a class="nav-link circle-menu"><strong>·</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/what-we-do']" routerLinkActive="what-we-do" >WHAT WE DO</a>
                    </li>
                    <li>
                        <a class="nav-link circle-menu"><strong>·</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/works']" routerLinkActive="works" >WORKS</a>
                    </li>
                    <li>
                        <a class="nav-link circle-menu"><strong>·</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/news']" routerLinkActive="news" >NEWS</a>
                    </li>
                    <li>
                        <a class="nav-link circle-menu"><strong>·</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="contact" >CONTACT</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item lets-chat">
                            <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"> <b>LET'S CHAT!</b><img src="./../assets/media/navbar/chat.png"></a>
                            <hr class="navHr">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </nav>
</div>