<!-- NAVBAR -->
<section>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img class="img-fluid" src="../../assets/media/navbar/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="menu navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="home" >HOME</a>
                        </li>
                        <li>
                            <a class="nav-link circle-menu"><strong>·</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/what-we-do']" routerLinkActive="what-we-do" >WHAT WE DO</a>
                        </li>
                        <li>
                            <a class="nav-link circle-menu"><strong>·</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/works']" routerLinkActive="works" >WORKS</a>
                        </li>
                        <li>
                            <a class="nav-link circle-menu"><strong>·</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/about']" routerLinkActive="about" >ABOUT</a>
                        </li>
                        <li>
                            <a class="nav-link circle-menu"><strong>·</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/news']" routerLinkActive="news" >NEWS</a>
                        </li>
                        <li>
                            <a class="nav-link circle-menu"><strong>·</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="contact" >CONTACT</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item lets-chat">
                                <b>LET'S CHAT!</b><img src="./../assets/media/navbar/chat.png">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </nav>
    </div>
</section>