@import "../../../styles.scss";


/* STYLE NAVBAR */

@media screen and (max-width: 991px) {
    .circle-menu{
        display: none;
    }
}

.navbar-light{
    color: $black;
}

.navbar {

    /* STYLE NAV-ITEMS <li></li> */
    .navbar-light, .navbar-nav, .nav-link, .nav-item{
        font-size: 14px;
        color: $black; 

        a{
            font-weight: 500;
            
        }

        a:hover{
            color: $orange;
            font-weight: 500;
        }
    }

    /* COLOR ACTIVES ROUTER LINKS MENU */
    .home, .what-we-do, .works, .news, .contact{
        color: $orange;
    }

    /* LET'S CHAT! */
    .lets-chat{
        color: $black;
        

        a {
            text-decoration: none;
            color: $black;
        }

        a:hover{
            color: $orange;
        }
    }

    /* HR NAVBAR */


    hr.navHr{
       border: 1px solid $black;
       margin: 0px;
       padding: 0px;
    }
}
