<section>
    <div class="container">
        <div class="col-12">
            <h1>
                Architecture is a visual art,<br>
                and the building speak for themeselves
            </h1>
        </div>

        <div class="col-12 col-md-8">
            <p class="grey">
                Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chilwave deep laborum.
                Duis id mattis dolor, eget mattis nisl. Nullam volutpat auctor nulla, egestas vehicula diam viverra et.
            </p>
        </div>
        
    </div>
</section>