<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <img class="img-fluid pb-3" src="../../assets/media/home/laura-larewnce-quote.png" alt="">
                <h4 class="quote-h4">
                    I don’t know what else to say, this is <br>
                    something that you haven’t seen before. <br>
                    Unique design, impressive, and outsanding support. Liarch always a <br>
                    pleasure to work! <br>
                </h4>

                <small>
                    <b>Laura Lorewnce</b> <br>
                    Director at <b>Cubic Hotel, Ukranie</b>
                </small>
            </div>
            <div class="col-12 col-md-7 text-center">
                <img class="img-fluid pb-3"  src="../../assets/media/home/laura-lorewnce-quote.png" alt="">
            </div>
        </div>
    </div>
</section>