<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="simplicity-title">
                    Simplicity Is
                    <br>
                    The Ultimate Sophistication
                </h1>

                <p class="simplicity-we-know">
                    We know that good design mean that <br>
                    good business.
                </p>

                <div class="col-10 col-md-8">
                    <p class="simplicity-we-help">
                        We help our client suceed by creating identities, digital
                        experiences, and printmaterials that communicate clearly,
                        achieve marketing goals & look fantastic.
                    </p>
                </div>

                <p class="simplicity-harry">
                    If you're harry, quick call for us
                </p>

                <div class="hotline">
                    <div class="row">
                        <div class="col-2">
                            <div class="circle-phone">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone phone-icon" viewBox="0 0 16 16">
                                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                </svg>
                            </div>
                        </div>
                    
                        <div class="col-10">
                            <small class="hotline-title">HOTLINE 24/7 </small>
                            <h5 class="hotline-phone">+65 - 3002 56 56 376</h5>
                        </div>
                    </div>
                </div>  
            </div>

            <div class="col-12 col-md-6">

                <!-- ARCH & INTERIOR-->
                    <div class="simplicity-services">
                        <div class="row">
                            <div class="col-10">
                                <h1 class="simplicity-h1-services">Arch & interior</h1>
                                <p class="simplicity-p-services">We bring the magic in to Building & interior</p>
                                <p class="simplicity-quantity-services">250 PROJECTS</p>
                            </div>
                            <div class="col-2">
                                <img class="img-fluid" src="assets/media/what-we-do/arch-and-interior.png" alt="">
                            </div>
                        </div>
                    </div>
                    

                    <!-- DESIGN-->
                    <div class="simplicity-services">
                        <div class="row">
                            <div class="col-10">
                                <h1 class="simplicity-h1-services">Design</h1>
                                <p class="simplicity-p-services">Creative design with digital products</p>
                                <p class="simplicity-quantity-services">80 PROJECTS</p>
                            </div>
                            <div class="col-2">
                                <img class="img-fluid" src="assets/media/what-we-do/design.png" alt="">
                            </div>
                        </div>
                    </div>

                    <!-- PRODUCTS-->
                    <div class="simplicity-services">
                        <div class="row">
                            <div class="col-10">
                                <h1 class="simplicity-h1-services">Products</h1>
                                <p>We create special products and selling it</p>
                                <p>350 PRODUCTS</p>
                            </div>
                            <div class="col-2">
                                <img class="img-fluid" src="assets/media/what-we-do/products.png" alt="">
                            </div>
                        </div>
                    </div>
            </div>
            
        </div>
    </div>
</section>