@import "../../../styles.scss";

footer{
    background-color: $light;
    padding: 25px 0px;

    .email-footer{
        color: $orange;
    }

    .p-footer{
        color: $grey;
    }

    ul{
        li{
            list-style: none;

            a{
                text-decoration: none;
            }

            a:hover{
                color: $orange;
            }
        }
    }

    .footer-h3{
        font-weight: 700;
    }

    .right{
        margin-top: 100px;
    }
}

