<footer>
    <section>
        <div class="container">
            <div class="col-12">
                <h1 class="email-footer">
                    hello@liarch-studio.com
                </h1>
                <p class="p-footer">Let tell us know your dream and we will help you make it become reality</p>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <hr>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3">
                    <ul>
                        <li> <h3>Office</h3></li>
                        <li> 166 Main Street, Beverly Hills</li>
                        <li> CA, 90210</li>
                        <li> +0085 346 2188</li>
                    </ul>
                </div>
    
                <div  class="col-6 col-md-3">
                    <ul>
                        <li> <h3>Help</h3></li>
                        <li> <a class="link-footer" routerLink="/" routerLinkActive="faqs">FAQs</a></li>
                        <li> <a class="link-footer" routerLink="/" routerLinkActive="terms">Terms and Conditions</a></li>
                        <li> <a class="link-footer" routerLink="/" routerLinkActive="privacy">Privacy Policy</a></li>
                        <li> <a class="link-footer" routerLink="/" routerLinkActive="help">Help</a></li>
                        <li> <a class="link-footer" routerLink="/" routerLinkActive="services">Services</a></li>
                    </ul>
                </div>
    
                <div  class="col-6 col-md-3">
                    <ul>
                        <li> <h3>Quick Links</h3></li>
                        <li> <a class="link-footer" routerLink="/" routerLinkActive="">About</a></li>
                        <li> <a class="link-footer" routerLink="/" routerLinkActive="">Contact</a></li>
                        <li> <a class="link-footer" routerLink="/" routerLinkActive="">Career</a></li>
                        <li> <a class="link-footer" routerLink="/" routerLinkActive="">News</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>