@import "../../../styles.scss";

.col-6{
    margin-top: 30px;
}

.we-help-small{
    line-height: 15px;
    font-size: 14px;
    font-family: $titles;
}

.we-help-h1{
    line-height: 15px;
    padding: 0px;
    margin: 10px 0px;
}
