<!-- WHAT WE DO -->
<section>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-8">
                    <p class="we-help-small">AN-AWARD WINNING</p>
                    <p class="we-help-small">ARCHITECTURE COMPANY</p>

                    <h1>
                        We Hel You Building
                        <br>
                        The Dreams & Bring More
                        <br>
                        Than You Expect
                    </h1>

                </div>
                <div class="col-12 col-md-4">
                    <div class="row">
                        <div class="col-6">
                            <h1 class="we-help-h1">100%</h1>
                        </div>
                        <div class="col-6">
                            <p class="we-help-small">SATISFITATION<br>
                                CLIENTES</p>
                        </div>
                        <div class="col-6">
                            <h1 class="we-help-h1">250</h1>
                        </div>
                        <div class="col-6">
                            <p class="we-help-small">EMPLOYEES ON<br
                                >WORLDWIDE</p>
                        </div>
                        <div class="col-6">
                            <h1 class="we-help-h1">3,875</h1>
                        </div>
                        <div class="col-6">
                            <p class="we-help-small">PROJECTS COMPLETED<br>
                                ON 60 COUNTRIES  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <img class="img-fluid" src="assets/media/what-we-do/we-help-you-building.png" alt="">
</section>