<section>
    <div class="our-approach">
        <div class="container">
            <h1>Our Approach</h1>
    
            <div class="row">
                <div class="col-12 col-md-4 ">
                    <div class="our-approach-details">
                        <img class="img-fluid" src="../../../assets/media/what-we-do/surveys-and-quotes.png">
                        <h1 class="our-approach-details-h1">Surveys and <br> Quotes</h1>
                        <p class="our-approach-details-p">Our team will survey your project, collect infor & build quotes</p>
                    </div>
                </div>
    
                <div class="col-12 col-md-4 ">
                    <div class="our-approach-details">
                        <img class="img-fluid" src="../../../assets/media/what-we-do/design-and-performance.png">
                        <h1 class="our-approach-details-h1">Design and <br> Performance</h1>
                        <p class="our-approach-details-p">We design best solutions and then performance it based on design</p>
                    </div>    
                </div>
                
                <div class="col-12 col-md-4 ">
                    <div class="our-approach-details">
                        <img class="img-fluid" src="../../../assets/media/what-we-do/handover-and-support.png">
                        <h1 class="our-approach-details-h1">Handover and <br> Support</h1>
                        <p class="our-approach-details-p">After complete project, we will handover full & support 2 years</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>