<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1>
                    Contact <br>
                    Liarch Studio
                </h1>
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-6">
                        <small>EMAIL</small>
                        <p>hello@liarch-studio.com</p>
                        <p>hr@liarch-studio.com</p>
                    </div>
                    <div class="col-6">
                        <small>ADDRESS</small>
                        <p>66 main Str, Beverly Hill,</p>
                        <p>CA, 90210</p>
                    </div>
                    <div class="col-6">
                        <small>PHONE</small>
                        <p>(+8003) 125 08 59</p>
                        <p>(+95) 0689 36 47</p>
                    </div>
                    <div class="col-6">
                        <small>WORK HOURS</small>
                        <p>MON - FRI 9.00am - 5.30pm</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="col-12">
        <img src="../../assets/media/contact/google-maps.png" alt="" class="img-fluid">
    </div>
</section>

<section>
   <div class="container">
    <div class="col-12">
        <h1>Drop Us A Line</h1>
        <p>
            Ask away! Our supporters will response within 24 hours
        </p>

        <form>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Subject</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Your message here</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">SEND MASSAGE</button>
        </form>
    </div>
   </div>
</section>