<section>
    <div class="container">
        
        <div class="d-flex justify-content-center">
            
            <div class="col-10">
                <h2>OUR CLIENTS</h2>
                <div class="row text">
                    <div class="col-6 col-md-2 clients"><img class="img-fluid" src="../../../assets/media/what-we-do/clients-1.png"></div>
                    <div class="col-6 col-md-2 clients"><img class="img-fluid" src="../../../assets/media/what-we-do/clients-2.png"></div>
                    <div class="col-6 col-md-2 clients"><img class="img-fluid" src="../../../assets/media/what-we-do/clients-3.png"></div>
                    <div class="col-6 col-md-2 clients"><img class="img-fluid" src="../../../assets/media/what-we-do/clients-4.png"></div>
                    <div class="col-6 col-md-2 clients"><img class="img-fluid" src="../../../assets/media/what-we-do/clients-5.png"></div>
                </div>

                <div class="row">
                    <div class="col-6 col-md-2 clients"><img class="img-fluid" src="../../../assets/media/what-we-do/clients-6.png"></div>
                    <div class="col-6 col-md-2 clients"><img class="img-fluid" src="../../../assets/media/what-we-do/clients-7.png"></div>
                    <div class="col-6 col-md-2 clients"><img class="img-fluid" src="../../../assets/media/what-we-do/clients-8.png"></div>
                    <div class="col-6 col-md-2 clients"><img class="img-fluid" src="../../../assets/media/what-we-do/clients-9.png"></div>
                    <div class="col-6 col-md-2 clients"><img class="img-fluid" src="../../../assets/media/what-we-do/clients-10.png"></div>
                </div>

            </div>
        </div>
    </div>
</section>