<section>
    <div class="container">
       <div class="col-12">
           <div class="row">
               <div class="col-12 col-md-6">
                <h1>
                    Dogel Nord <br>
                    Station
                </h1>
        
                <!--<div class="">
                    twitter | facebook | instagram | Pinterest
                </div>-->
               </div>
               <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <p class="work-details-area">CLIENT</p>
                            <div class="work-details-info">
                                <p class="work-details-data">Dogel Nord Station</p>
                                <p class="work-details-data">Denmark</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="work-details-area">TEAM</p>
                            <div class="work-details-info">
                                <p class="work-details-data">LoganCee - Architect</p>
                                <p class="work-details-data">Pavel Suslov - Supervisor</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="work-details-info">
                                <p class="work-details-area">SERVICES</p>
                                <p class="work-details-data">Architect, Interior</p>
                                <p class="work-details-data">CGI, Products</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="work-details-info">
                                <p class="work-details-area">DATE</p>
                                <p class="work-details-data">February 25th, 2022</p>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
       </div>
    </div>
</section>

<section>
    <div class="d-flex justify-content-center">
        <img src="../assets/media/work-detail/dogel-nord-station.png" alt="" class="img-fluid">
    </div>
</section>

<section>
    <div class="container">
        <div class="col-8">
            <p class="work-details-resume">
                Dogel Nord Station is a startup that aims to supply energy (starting with gas) to domestic household acrossthe UK. Create a very simple yet stunning logotype and promo site that sets the brand of Entice Energy apart from the competitors like a fresh take on an already saturated area.
            </p>
        </div>
    </div>
</section>