@import "../../../../styles.scss";

.work-details-area{
    font-size: 14px;
    color: $grey;
    padding: 10px 0px;
}

.work-details-info{
    margin-bottom: 40px;
}

.work-details-data {
    line-height: 10px;
}

.work-details-resume {
    font-size: 20px;
}