<section>
    <div class="container">
        <h1>Inspirations & Experiences</h1>

        <div class="row mt-5">
            <div class="col-12 col-md-4 p-5">
                <small>DECEMBER 15, 2020</small>
                <h4 class="pt-3">
                    Nordic style, interior style
                    for simple life
                </h4>

                <p class="pt-5">
                    Suspendisse vehicula et velit nec consectetur. Curabitur cursus eleifend odio nec tristique. Vestibulum ac eleifend lacus, hendrerit accumsan est.
                </p>

            </div>

            <div class="col-12 col-md-4 p-5">
                <small>DECEMBER 15, 2020</small>
                <h4 class="pt-3">
                    Nordic style, interior style
                    for simple life
                </h4>

                <p class="pt-5">
                    Suspendisse vehicula et velit nec consectetur. Curabitur cursus eleifend odio nec tristique. Vestibulum ac eleifend lacus, hendrerit accumsan est.
                </p>

            </div>

            <div class="col-12 col-md-4 p-5">
                <small>DECEMBER 15, 2020</small>
                <h4 class="pt-3">
                    Nordic style, interior style
                    for simple life
                </h4>

                <p class="pt-5">
                    Suspendisse vehicula et velit nec consectetur. Curabitur cursus eleifend odio nec tristique. Vestibulum ac eleifend lacus, hendrerit accumsan est.
                </p>

            </div>
            
        </div>
    </div>
</section>