<section>
    <div class="container">
        <div class="col-12">
            <h1>Inspirations & Experiences</h1>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 ">
                <div class="inspiration-post">
                    <small>DECEMBER 15, 2020</small>
                    <h4 class="inspiration-h4">
                        Nordic style, interior style
                        for simple life
                    </h4>

                    <p class="pt-5">
                        Suspendisse vehicula et velit nec consectetur. Curabitur cursus eleifend odio nec tristique. Vestibulum ac eleifend lacus, hendrerit accumsan est.
                    </p>
                    <p class="inspiration-continue"><a [routerLink]="['/']" routerLinkActive="router-link-active" >CONTINUE</a></p>
                </div>
            </div>

            <div class="col-12 col-md-4 ">
                <div class="inspiration-post">
                    <small>DECEMBER 15, 2020</small>
                    <h4 class="inspiration-h4">
                        Nordic style, interior style
                        for simple life
                    </h4>

                    <p class="pt-5">
                        Suspendisse vehicula et velit nec consectetur. Curabitur cursus eleifend odio nec tristique. Vestibulum ac eleifend lacus, hendrerit accumsan est.
                    </p>
                    <p class="inspiration-continue"><a [routerLink]="['/']" routerLinkActive="router-link-active"  >CONTINUE</a></p>
                </div>
            </div>

            <div class="col-12 col-md-4 ">
                <div class="inspiration-post">
                    <small>DECEMBER 15, 2020</small>
                    <h4 class="inspiration-h4">
                        Nordic style, interior style
                        for simple life
                    </h4>

                    <p class="pt-5">
                        Suspendisse vehicula et velit nec consectetur. Curabitur cursus eleifend odio nec tristique. Vestibulum ac eleifend lacus, hendrerit accumsan est.
                    </p>
                    <p class="inspiration-continue"><a [routerLink]="['/']" routerLinkActive="router-link-active"  >CONTINUE</a></p>
                </div>
            </div>
            
        </div>
    </div>
</section>