<section>
    <div class="container">
        <div class="row">
                <div class="col-12 col-md-6">
                    <img src="../../../assets/media/news/discover-top-15-buildings-modern-in-italy.png" alt="" class="img-fluid">
                    <div class="row">
                        <div class="col-6">
                            <h1>25</h1>
                            <p>DECEMBER</p> 
                            <p>2020</p>
                        </div>
                        <div class="col-6">
                            <h1><a [routerLink]="['/news-post-details']" routerLinkActive="router-link-active" >Discover top 15 buildings modern in Italy</a></h1>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <img src="../../../assets/media/news/the-dome-in-architectural-the-attractive-from-the-art.png" alt="" class="img-fluid">
                    <div class="row">
                        <div class="col-6">
                            <h1>20</h1>
                            <p>DECEMBER</p>
                            <p>2020</p>
                        </div>
                        <div class="col-6">
                            <h1><a [routerLink]="['/news-post-details']" routerLinkActive="router-link-active"> The dome in architectural the attractive from the art</a></h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <img src="../../../assets/media/news/discover-top-25-the-best-of-architecture-building-in-2020.png" alt="" class="img-fluid">
                    <div class="row">
                        <div class="col-6">
                            <h1>16  </h1>
                            <p>NOVEMBER</p>
                            <p>2020</p>
                        </div>
                        <div class="col-6">
                            <h1><a [routerLink]="['/news-post-details']" routerLinkActive="router-link-active" >Discover top 25 the best of architecture building in 2020</a></h1>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <img src="../../../assets/media/news/how-to-use-solid-color-combine-with-simple-furnitures.png" alt="" class="img-fluid">
                    <div class="row">
                        <div class="col-6">
                            <h1>8</h1>
                            <p>NOVEMBER</p>
                            <p>2020</p>
                        </div>
                        <div class="col-6">
                            <h1><a [routerLink]="['/news-post-details']" routerLinkActive="router-link-active" > How to use solid color combine with simple furnitures</a></h1>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <img src="../../../assets/media/news/double-rectangle-houses-from-old-conainers.png" alt="" class="img-fluid">
                    <div class="row">
                        <div class="col-6">
                            <h1>12</h1>
                            <p>OCTOBER</p>
                            <p>2020</p>
                        </div>
                        <div class="col-6">
                            <h1><a [routerLink]="['/news-post-details']" routerLinkActive="router-link-active" >Double rectangle houses from old containers</a></h1>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <img src="../../../assets/media/news/the-solutions-for-house-in-texas-mountain.png" alt="" class="img-fluid">
                    <div class="row">
                        <div class="col-6">
                            <h1>5</h1>
                            <p>OCTOBER</p>
                            <p>2020</p>
                        </div>
                        <div class="col-6">
                            <h1><a [routerLink]="['/news-post-details']" routerLinkActive="router-link-active" >The solutions for house in Texa's Mountain</a></h1>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>

<section class="div col-12">
    <h1>MORE</h1>
</section>