<!-- HOME SECTION -->

<!-- AN-AWARDS WINNING ARCHITECTS COMPANY -->
<app-an-award-winning-architects-company></app-an-award-winning-architects-company>

<!-- WE CAN CREATE MORE THAN YOU EXPECT -->
<app-we-can-create-more-than-you-expect></app-we-can-create-more-than-you-expect>

<!-- SATISFACTION - EMPLOYEES- PROJECTS-->
<app-satisfaction-employees-projects></app-satisfaction-employees-projects>

<!-- BEST SOLUTIONS FOR YOURD DREAM-->
<app-best-solutions-for-your-dream></app-best-solutions-for-your-dream>

<!-- OUR LATEST PROJECTS-->
<app-our-latest-projects></app-our-latest-projects>

<!-- LAURA LOREWNCE QUOTE-->
<app-laura-lorewnce-quote></app-laura-lorewnce-quote>

<!-- PARTNERS -->
<app-partners></app-partners>

<!-- INSPIRATIONS & EXPERIENCES-->
<app-inspirarions-and-experiences></app-inspirarions-and-experiences>