<!-- BEST SOLUTIONS FOR YOUR DREAM -->
<section>
    <div class="container">
        <h1>Best solution for your dream</h1>
        <p>
            We provide best solutions for your dream, still adapt your budget & still match twith requires about quality of project
        </p>

        <div class="row">
            <div class="col-12 col-md-4">
                ICON
                <h4>
                    Architecture & <br>
                    Interior
                </h4>
                <p>
                    Architecture Design, Interior  <br>
                    Design, Landscape Design, Commercial, <br>
                    Residential, 3D Visualization <br>
                </p>

                <small>
                    <strong>256 PROJECTS</strong>
                </small>
            </div>
            <div class="col-12 col-md-4">
                ICON
                <h4>
                    Design & <br>
                    Photography
                </h4>
                <p>
                    Web design, Mobile App Design, <br>
                    3D Design, CGI, Character, Motion <br>
                    Photography
                </p>

                <small>
                    <strong>64 PROJECTS</strong>
                </small>
            </div>

            <div class="col-12 col-md-4">
                ICON
                <h4>
                    Furniture Products <br>
                    Production
                </h4>
                <p>
                    Sofa, Chair, Wood Furnitures, <br>
                    Shelf, Bed, Decoration, Structure, Celling, <br>
                    Flooring, Walls
                </p>

                <small>
                    <strong>8,526 ITEMS</strong>
                </small>
            </div>
        </div>
    </div>
</section>