<!-- BEST SOLUTIONS FOR YOUR DREAM -->
<section>
    <div class="container">
        <h1>Best solution for your dream</h1>
        <p class="best-intro">
            We provide best solutions for your dream, still adapt your budget & still match twith requires about quality of project
        </p>

        <div class="solutions">
            <div class="row">
                <div class="col-12 col-md-4 solutions-details">
                    <img src="assets/media/home/icon-architecture.png" alt="" class="img-fluid">
                    <h3 class="solutions-h3">
                        Architecture & <br>
                        Interior
                    </h3>
                    <p class="solutions-p">
                        Architecture Design, Interior Design, Landscape Design, Commercial, Residential, 3D Visualization 
                    </p>
    
                    <small class="solutions-quantity">
                        <strong>256 PROJECTS</strong>
                    </small>
                </div>
                <div class="col-12 col-md-4 solutions-details">
                    <img src="assets/media/home/icon-design.png" alt="" class="img-fluid">
                    <h3 class="solutions-h3">
                        Design & <br>
                        Photography
                    </h3>
                    <p class="solutions-p">
                        Web design, Mobile App Design, 3D Design, CGI, Character, Motion Photography
                    </p>
    
                    <small class="solutions-quantity">
                        <strong>64 PROJECTS</strong>
                    </small>
                </div>
    
                <div class="col-12 col-md-4 solutions-details">
                    <img src="assets/media/home/icon-furniture.png" alt="" class="img-fluid">
                    <h3 class="solutions-h3">
                        Furniture Products <br>
                        Production
                    </h3>
                    <p class="solutions-p">
                        Sofa, Chair, Wood Furnitures, Shelf, Bed, Decoration, Structure, Celling, Flooring, Walls
                    </p>
    
                    <small class="solutions-quantity">
                        <strong>8,526 ITEMS</strong>
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>